/* src/components/CLoader.css */
.c-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* optional dark background for contrast */
}

.c-loader {
  width: 100px;
  height: 100px;
  animation: rotateC 1.5s linear infinite;
  filter: drop-shadow(0 0 10px red);
}

@keyframes rotateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
